
.potclass{
    border:0;
   
    outline: none;
}





.type::after{
    content: 'Type';
    position: absolute;
    top: -9px;
    left: 9px;
    background-color: white;
    padding: 0 5px;
    color: gray;
    font-size: 12px;
    }
    
    
    
.customer::after{
    content: 'Customers';
    position: absolute;
    top: -9px;
    left: 9px;
    background-color: white;
    padding: 0 5px;
    color: gray;
    font-size: 12px;
    }



