
.potclass{
    border:0;
   
    outline: none;
}

.dailymealtable>thead>tr>th{
    background-color: rgb(223, 228, 228);
    border: solid black 1px;
}

.dailymealtable>tbody>tr>td{
    
    border: solid black 1px;
}
.dailymealtable>thead{
    border-bottom: solid black 2px;
}


.type::after{
    content: 'Type';
    position: absolute;
    top: -9px;
    left: 9px;
    background-color: white;
    padding: 0 5px;
    color: gray;
    font-size: 12px;
    }
    
    
    
.customer::after{
    content: 'Customers';
    position: absolute;
    top: -9px;
    left: 9px;
    background-color: white;
    padding: 0 5px;
    color: gray;
    font-size: 12px;
    }

.printclassmeal{
    
    height: 99%;
    page-break-after: avoid;
    page-break-before: avoid;
    padding: 30px;  
    zoom: 0.8;
    font-family: 'Times New Roman', Times, serif;
    
}

