.header_right{
    margin-right: 3%;
    

}

.custom_popover{
    background-color: skyblue;

}

.header_right:hover{
    background-color: gainsboro;
}
.activeMenuItem {
    background-color: #f0f0f0;
  }
  .sidebarclass::-webkit-scrollbar {
    display: none;
}

.branch_list{
 margin-bottom: 5px;
}
.branch_list:hover{
    cursor: pointer;
    color:royalblue;
    text-decoration: underline;
}

