.pop_over{
    width:200px;
    height:150px;    
}

.pop_over_header{
    display: flex;
    flex-direction: column;
    height:70%;
    place-items: center;
}

.setting{
    position: absolute;
    right: 1vw !important;
}
.setting:hover{
 cursor: pointer;
 color: royalblue;
 
}

#dropdown-autoclose-true{
    visibility: hidden;
   
}